/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Reset end */

:root {
  --ff-primary: 'Plus Jakarta Sans', sans-serif;

  --fs-lg: 1rem;
  --fs-md: 0.813rem;

  --fw-extrabold: 800;
  --fw-medium: 500;

  --clr-primary-1: hsl(1, 90%, 64%);
  --clr-primary-2: hsl(219, 85%, 26%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(210, 60%, 98%);
  --clr-neutral-300: hsl(211, 68%, 94%);
  --clr-neutral-400: hsl(205, 33%, 90%);
  --clr-neutral-500: hsl(219, 14%, 63%);
  --clr-neutral-600: hsl(219, 12%, 42%);
  --clr-neutral-700: hsl(224, 21%, 14%);
}

/**************/
/* typography */
/**************/
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-600);
}
h1 {
  font-size: var(--fs-lg);
  font-weight: 700;
  color: var(--clr-neutral-700);
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--clr-primary-2);
}
.notifications__item-username {
  color: var(--clr-neutral-700);
}
.notifications__item-post {
  color: var(--clr-neutral-600);
}
.notifications__item-group {
  color: var(--clr-primary-2);
}
.notifications__item-username,
.notifications__item-post,
.notifications__item-group {
  font-weight: var(--fw-extrabold);
}
button {
  color: var(--clr-neutral-600);
}
/**********/
/* layout */
/**********/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-200);
}
main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 1rem;
  max-width: 648px;
  background-color: var(--clr-neutral-100);
  padding: 2rem;
  border-radius: 1rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.amount-unread {
  background-color: var(--clr-primary-2);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--clr-neutral-100);
}
button {
  background-color: transparent;
  border: transparent;
}
button:hover {
  cursor: pointer;
  color: var(--clr-primary-2);
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
ul li:has(.notifications__item-message) .notifications__item-icon {
  margin-top: 0;
  margin-bottom: auto;
}
li.notifications__item {
  border-radius: 0.5rem;
  padding: 1rem;
}
li .notifications__item-icon,
li .notifications__item-img {
  width: 46px;
  height: 46px;
}
li .notifications__item-message {
  padding: 1rem;
  border: 1px solid var(--clr-neutral-300);
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
li .notifications__item-message:hover {
  cursor: pointer;
  background-color: var(--clr-neutral-300);
}
.attribution {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}
.attribution a {
  color: var(--clr-neutral-700);
  font-weight: var(--fw-extrabold);
}
.attribution a:hover {
  color: var(--clr-primary-2);
}

/* utility */
.new {
  background-color: var(--clr-neutral-200);
}
.new .notifications__item-text::after {
  content: '';
  width: 8px;
  height: 8px;
  margin-left: 0.25rem;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--clr-primary-1);
}
